body {
    position: relative;
    background: linear-gradient(0deg, rgba(26, 28, 41, 0.90) 0%, rgba(26, 28, 41, 0.90) 100%), linear-gradient(180deg, #1A1C29 0%, rgba(26, 28, 41, 0.00) 100%);
    background-image: url("/img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: white;
}

@media (min-width: 200px) and (max-width: 450px) {
    body {
      background: url("/img/mobile-background.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
    }
  }

  button {
    transition: transform 0.3s ease;
  }

  button:active {
    transform: scale(0.98);
  }

input:focus,
input:active,
input:hover {
    outline: 1.5px solid #0cc1ce00;
}